.userInput{
  display: block;
  margin: 10px;
  font-size: 15px;
}
#submit{
  display: block;
  margin: 10px;
  font-size: 15px;
  cursor: pointer;
}

#postsContainer{
  display: block;
  margin: 10px;
  border: 1px solid #aaa;
  padding: 10px;
}

.singlePost{
  background-color: #eee;
  padding: 10px 20px;
  margin:5px 0;
}