@import url('https://fonts.googleapis.com/css2?family=Modak&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
#content-container{
    
}
nav{
    display: grid;
    grid-template-columns: 3fr 9fr;
    align-content: center;
    height: 100px;
    border-bottom: 2px solid #aaa;
    margin: 0 5%;
}
#logo{
    display: grid;
    align-content: center;
    justify-content: center;
}
#logo a{
    font-family: 'Modak', cursive;
    color:#111;
    text-decoration: none;
    font-size: 35px;
}
#logo a:hover{
    color:#d30d0d;
}
#nav-bar-wrapper{
    display: grid;
    justify-content: center;
}
#nav-bar{
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    padding: 0;
    margin: 0;
    grid-gap: 35px;
}
.nav-bar-item{
    display: inline-block;
}
.nav-bar-item a{
    color:#333;
    text-decoration: none;
    padding: 10px;
}
.nav-bar-item a:hover{
border-bottom: 2px solid #333;
}
header{
    display: grid;
    grid-template-columns: 5fr 7fr;
    align-content: center;
    justify-content: center;
    padding: 5% 5%;
}
main{
    display:grid;
    margin: 1% 5%;
    padding-top: 2%;
    border-top: 2px solid #aaa;
}
.header-text{
    display: inline-block;
    font-size: 80px;
    font-weight: 900;
    min-width: 700px;
    grid-row-start: 1;
}
.header-story{
    grid-row-start: 2;
    padding-right: 30px;
}
.header-long{
    grid-row-end: span 2;
    grid-column-start: 2;
    align-self: end;
    font-style: italic;
}
#gallery-container{
    display: grid;
}
#gallery{
    display: grid;
    grid-template-columns: 3fr 9fr;
}
#gallery-filters{
    background-color:hsl(0,0%,93%);
    padding-top: 50px;
}
#gallery-filters-list{
    list-style: none;
}
.gallery-filter{
    cursor: pointer;
    margin-top:20px;
    font-size:15px;
    
}
.gallery-filter-icon{
    padding-right: 10px;
    font-size: 15px;
    cursor: pointer;
}
.gallery-filter:hover .gallery-filter-icon:before{
    content:'\f192';
}
.gallery-filter:active .gallery-filter-icon:before{
    content:'\f058';
}
#gallery-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.gallery-item{
    display: inline-block;
    width: 48%;
    height: 30vw;
    margin: 0 0% 1% 0%;
    background-color:#eee;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
}
.gallery-item-description{
    background-color: rgba(255,255,255,1);
    position: absolute;
    bottom: 0;
    border-bottom: 2px solid #aaa;
    padding: 10px;
    font-size: 13px;
    
}
.gallery-item-img-container{
overflow:hidden;
    width: 100%;
    height: 100%;
    position: relative;
    
}
.gallery-item-img{
  min-width: 120%;
  min-height: 120%;
  margin-top: -30%;
  margin-left: -30%;
    position:absolute;
    top:-10%;
    left:-10%;
    
}
.gallery-item-img:hover{
  filter: grayscale(0%);
}
  
.grayscale{
    filter: grayscale(100%);
}
.color{
  filter: grayscale(0%);
}